<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" >

    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Pesquisar...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- sidebar menu: : style can be found in sidebar.less border-left-color -->
    <ul class="sidebar-menu" data-widget="tree">
      <li>
        <a href="pages/dashboard.html">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder"></i>
          <span>Cadastros</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/tipo_contrato.html"><i class="fa fa-book"></i> Tipo de Contratos</a></li>
          <li><a href="pages/empresa.html"><i class="fa fa-briefcase"></i> Empresas</a></li>
          <li><a href="pages/escala_trabalho.html"><i class="fa fa-calendar"></i> Escala do Trabalho</a></li>
        </ul>
      </li>

      <li>
        <a href="pages/parametros.html">
          <i class="fa fa-gear"></i> <span>Configurações</span>
        </a>
      </li>

      <li>
        <a href="pages/calendar.html">
          <i class="fa fa-calendar"></i> <span>Dia Ponto</span>
        </a>
      </li>

      <li class="header">INDICADORES</li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-bar-chart-o"></i> <span>Relatórios</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> Escala do Trabalho</a></li>
          <li class="treeview">
            <a href="#"><i class="fa fa-circle-o"></i> Horas Trabalhadas
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-circle-o"></i> Horas Normais</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Horas Noturnas</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Horas Extras</a></li>
              <!--<li class="treeview">-->
                <!--<a href="#"><i class="fa fa-circle-o"></i> Horas Extras-->
                  <!--<span class="pull-right-container">-->
                    <!--<i class="fa fa-angle-left pull-right"></i>-->
                  <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                  <!--<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>-->
                  <!--<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>-->
                <!--</ul>-->
              <!--</li>-->
            </ul>
          </li>

          <li><a href="#"><i class="fa fa-circle-o"></i> Tempo Descanso</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Tempo Deslocamento</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
